@{
    ViewData["Title"] = "Home Page";
}

<!---------------color picker---------------------->

<div class="color-picker-module">
    <div id="currentColor"></div>
    <div class="color-wrap">
        <div style="background-color: black"></div>
        <div style="background-color: white"></div>
        <div style="background-color: red"></div>
        <div style="background-color: green"></div>
        <div style="background-color: blue"></div>
        <div style="background-color: orange"></div>
        <div style="background-color: yellow"></div>
        <div style="background-color: purple"></div>
        <div style="background-color: brown"></div>
        <div style="background-color: deeppink"></div>
        <div style="background-color: gray"></div>
        <div style="background-color: chocolate"></div>
        <div style="background-color: gold"></div>
        <div style="background-color: teal"></div>
        <div style="background-color: navy"></div>
        <div style="background-color: darkorange"></div>
        <div style="background-color: royalblue"></div>
        <div style="background-color: aqua"></div>
        <div style="background-color: palegreen"></div>
        <div style="background-color: darkolivegreen"></div>
        <div style="background-color: yellowgreen"></div>
        <div style="background-color: aquamarine"></div>
    </div>
</div>

<!-------------------------------------------------->

